html {
    min-width: 400px;
    height: 100%;
}

body {
    height: 100%;
}

.logincustom .loginhead{
  background: #265ae7;
  color: white;
  text-transform: uppercase;
  text-align-last: center;
  font-weight: bold;
}

.loginpanel{
background: #265ae7;
color: white;
text-align: center;
font-size: 15pt;
font-weight: bold;
border-radius: 5px;
border-width: medium;
}
.customlabeluser{
  text-align: left;
}

.panel-body{
  background-color: white;
  color: #265ae7;
  border-color: black;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
}
.logincenter{
  margin-top: 5%;
}

.imglogo{
  margin-bottom: 15%;
  margin-left: 50%;
}
